*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

body{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    /* margin: auto; */
}

.main-section{
    width:100vw;
    height:100vh;
    background: grey;

    
}

.img-section{
    margin:2rem 0 0 2rem;
   width:40rem;
}
.img-section  img{
    width:100%;
}

/* main number section styling */

.main-number-section{
    margin:2rem 0 0 2rem;
    width:40rem;
    height:40rem;
    background: rgb(58, 58, 58);
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    /* display: none; */
    
}

:where(.cell-one,.cell-two,
.cell-three,.cell-four,.cell-five,
.cell-six,.cell-seven,.cell-eight,
.cell-nine,.cell-ten){
    padding:0;
    margin:0;
    border:1px solid white;
    width:4rem;
    height:4rem;
    background: rgb(125, 72, 72);
}

.number{
    width:4rem;
    height:4rem;
    border:1px solid white;
}
.row-one,.row-two,.row-three,
.row-four,.row-five,.row-six,
.row-seven,.row-eight,.row-nine,
.row-ten{
    display: flex;
}

.ten-block,.nineth-block,
.eighth-block,.seventh-block,
.sixth-block,.fifth-block,
.fourth-block,.third-block,
.second-block,.first-block{
    color:white;
    
}

.active{
    background: red;
}


.side-section{
    position: absolute;
    left:50%;
    top:3%;
    /* background: #000; */
    border:1px solid pink;
    width:40rem;
    height:40rem;
    display: none;
}

.dice{
     display: flex;
    justify-content: space-between;
    align-items: center; 
    text-transform: uppercase;
}

.side-section .dice h2{
    width:100%;
    height:7rem;
    background: #000;
    position: relative;
    color:white;
    padding:2rem;
    border-bottom: 2px solid white;
}

.side-section .dice h2 span{
    background: rgb(101, 206, 108);
    width:3rem;
    height:3rem;
    display: inline-block;
    position: absolute;
    top:25%;
    text-align: center;
    margin-left:1rem;
    border-radius: 50%;
   
    
}
#dice-result{
    
    padding-top:0.3rem;
    text-align: center;
    vertical-align: middle;
}

#move-coin{
    width:3rem;
    height:3rem;
    background: white;
    border-radius: 50%;
}

.button-section {
    width:100%;
    height:30%;
    padding:1rem;
    font-weight: 500;
    background-color: lightgreen;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dice-button{
    vertical-align: middle;
    width:10rem;
    height:5rem;
    padding:1rem;
    background-color: lightgrey;
    color:indigo;
    font-weight: 500;
    border-radius:6px;
    font-size:1.2rem;
}

