*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    --primary-color:rgb(247, 198, 189);
}

:root{
    --secondary-color:indigo;
    --text-color-white:white;
    --text-color-black:black;
    /* --primary-font:'sans-serif';
    --secondary-font:sans-serif; */
    --primary-border:2px solid black;
}
*{ 
    -wefont-family: 'Courier New', Courier, monospace !important;
}


body{
    width:100%;
    height:100vh;
    background: var(--primary-color);
    color:var(--text-color-white);
    
    font: 800 5rem  'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width:500px;
    height:500px;
    border:var(--primary-border);
    background: #000;
    color:white;
    text-align: center;
    /* animation: 1s ease-in infinite  alternate-reverse example;
    */
    /* font-size:5rem; */
    /*transformation properties */
    /* transform-origin: left top;
    transform: skew(140deg); */

    /* transform: rotate(90deg); */
    /* transform:matrix(2, 0.8, 2, 2, 1, 3); */
    animation-name: someName;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: 3;
    animation-direction:normal ;
    animation-timing-function: cubic-bezier(0.39, 1.05, 0.78, 0.12);
    
    
}

@keyframes example{
    0%{
       width:500px;
       transition:cubic-bezier(1, 0, 0, 1);

    }
    
    50%{
        border-radius:50%;
       background-color: lightcyan;
    }
    100%{
        border-radius:50%;
        width:100px;
        height:100px;
        background-color: rgb(255, 84, 4);
    }
}




