body{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
div{
    width:30vw;
    height:30vh;
    background: indigo;
    border-radius:0.8rem;
    
    /*short hand property */
    transition:width 2s cubic-bezier(0.39, 1.05, 0.78, 0.12) 1s;

    /* transition-property: width;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.39, 1.05, 0.78, 0.12);
    transition-delay: 3s; */
    
    
}
div:hover{
   width:100vw;
}

