
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width:100px;
    height:100vh;
    background: rgb(120, 120, 120);
    background-position: center;
    background-size: cover;
}
h1,p{
   color:red;
   
}
.vena{
    width:50vw;
    height:50vh;
    border:2px solid black;
    padding-left:20px;
   
}
/* css comment */